@charset "utf-8";

/*Pretendard*/
@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    font-style: normal;
    src: local('Pretendard Thin'),
        url('../fonts/pretendard/Pretendard-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pretendard/Pretendard-Thin.woff2') format('woff2'),
        url('../fonts/pretendard/Pretendard-Thin.woff') format('woff'),
        url('../fonts/pretendard/Pretendard-Thin.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    font-style: normal;
    src: local('Pretendard ExtraLight'),
        url('../fonts/pretendard/Pretendard-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/pretendard/Pretendard-ExtraLight.woff2') format('woff2'),
        url('../fonts/pretendard/Pretendard-ExtraLight.woff') format('woff'),
        url('../fonts/pretendard/Pretendard-ExtraLight.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-style: normal;
    src: local('Pretendard Light'),
        url('../fonts/pretendard/Pretendard-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pretendard/Pretendard-Light.woff2') format('woff2'),
        url('../fonts/pretendard/Pretendard-Light.woff') format('woff'),
        url('../fonts/pretendard/Pretendard-Light.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-style: normal;
    src: local('Pretendard Regular'),
    	url('../fonts/pretendard/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pretendard/Pretendard-Regular.woff2') format('woff2'),
        url('../fonts/pretendard/Pretendard-Regular.woff') format('woff'),
        url('../fonts/pretendard/Pretendard-Regular.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-style: normal;
    src: local('Pretendard Medium'),
    	url('../fonts/pretendard/Pretendard-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pretendard/Pretendard-Medium.woff2') format('woff2'),
        url('../fonts/pretendard/Pretendard-Medium.woff') format('woff'),
        url('../fonts/pretendard/Pretendard-Medium.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-style: normal;
    src:local('Pretendard SemiBold'),
        url('../fonts/pretendard/Pretendard-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pretendard/Pretendard-SemiBold.woff2') format('woff2'),
        url('../fonts/pretendard/Pretendard-SemiBold.woff') format('woff'),
        url('../fonts/pretendard/Pretendard-SemiBold.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-style: normal;
    src:local('Pretendard Bold'),
        url('../fonts/pretendard/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pretendard/Pretendard-Bold.woff2') format('woff2'),
        url('../fonts/pretendard/Pretendard-Bold.woff') format('woff'),
        url('../fonts/pretendard/Pretendard-Bold.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    font-style: normal;
    src: local('Pretendard ExtraBold'),
        url('../fonts/pretendard/Pretendard-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pretendard/Pretendard-ExtraBold.woff2') format('woff2'),
        url('../fonts/pretendard/Pretendard-ExtraBold.woff') format('woff'),
        url('../fonts/pretendard/Pretendard-ExtraBold.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-style: normal;
    src: local('Pretendard Black'),
        url('../fonts/pretendard/Pretendard-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pretendard/Pretendard-Black.woff2') format('woff2'),
        url('../fonts/pretendard/Pretendard-Black.woff') format('woff'),
        url('../fonts/pretendard/Pretendard-Black.ttf') format("truetype");
    font-display: swap;
}



/* NotoSansKR */
@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 100;
    src: local('Noto Sans Thin'), local('NotoSans-Thin'),
    url(fonts/NotoSansKR/NotoSansKR-Thin-Hestia.eot),
    url(fonts/NotoSansKR/NotoSansKR-Thin-Hestia.eot?#iefix) format('embedded-opentype'),
    url(fonts/NotoSansKR/NotoSansKR-Thin-Hestia.woff) format('woff'),
    url(fonts/NotoSansKR/NotoSansKR-Thin-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 300;
    src: local('Noto Sans Light'), local('NotoSans-Light'),
    url(fonts/NotoSansKR/NotoSansKR-Light-Hestia.eot),
    url(fonts/NotoSansKR/NotoSansKR-Light-Hestia.eot?#iefix) format('embedded-opentype'),
    url(fonts/NotoSansKR/NotoSansKR-Light-Hestia.woff) format('woff'),
    url(fonts/NotoSansKR/NotoSansKR-Light-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 350;
    src: local('Noto Sans DemiLight'), local('NotoSans-DemiLight'),
    url(fonts/NotoSansKR/NotoSansKR-DemiLight-Hestia.eot),
    url(fonts/NotoSansKR/NotoSansKR-DemiLight-Hestia.eot?#iefix) format('embedded-opentype'),
    url(fonts/NotoSansKR/NotoSansKR-DemiLight-Hestia.woff) format('woff'),
    url(fonts/NotoSansKR/NotoSansKR-DemiLight-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans Regular'), local('NotoSans-Regular'),
    url(fonts/NotoSansKR/NotoSansKR-Regular-Hestia.eot),
    url(fonts/NotoSansKR/NotoSansKR-Regular-Hestia.eot?#iefix) format('embedded-opentype'),
    url(fonts/NotoSansKR/NotoSansKR-Regular-Hestia.woff) format('woff'),
    url(fonts/NotoSansKR/NotoSansKR-Regular-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 500;
    src: local('Noto Sans Medium'), local('NotoSans-Medium'),
    url(fonts/NotoSansKR/NotoSansKR-Medium-Hestia.eot),
    url(fonts/NotoSansKR/NotoSansKR-Medium-Hestia.eot?#iefix) format('embedded-opentype'),
    url(fonts/NotoSansKR/NotoSansKR-Medium-Hestia.woff) format('woff'),
    url(fonts/NotoSansKR/NotoSansKR-Medium-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'),
    url(fonts/NotoSansKR/NotoSansKR-Bold-Hestia.eot),
    url(fonts/NotoSansKR/NotoSansKR-Bold-Hestia.eot?#iefix) format('embedded-opentype'),
    url(fonts/NotoSansKR/NotoSansKR-Bold-Hestia.woff) format('woff'),
    url(fonts/NotoSansKR/NotoSansKR-Bold-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 900;
    src: local('Noto Sans Black'), local('NotoSans-Black'),
    url(fonts/NotoSansKR/NotoSansKR-Black-Hestia.eot),
    url(fonts/NotoSansKR/NotoSansKR-Black-Hestia.eot?#iefix) format('embedded-opentype'),
    url(fonts/NotoSansKR/NotoSansKR-Black-Hestia.woff) format('woff'),
    url(fonts/NotoSansKR/NotoSansKR-Black-Hestia.otf) format('opentype');
}

