@charset "utf-8";
@import url(./font/pretendard.css);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, p,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Pretendard','Noto Sans KR', sans-serif;
}

/* HTML5 display-role reset for older browsers */
* {margin:0; padding:0; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; word-break: keep-all;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block;}
html,body{max-width: 100%; min-height: 100%;}
html {font-size:10px; -webkit-text-size-adjust: none;}
body {line-height: 1; font-size:1.6rem; -webkit-print-color-adjust:exact; color: #333333;}
ol,ul {list-style: none;}
blockquote,q {quotes: none;}
blockquote:before,blockquote:after,q:before,q:after {content: "";  content: none;}
table {border-collapse: collapse;  border-spacing: 0;}
input{appearance: none; -moz-appearance: none; -webkit-appearance: none; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0;}
input:focus {outline: none;}
select {font: inherit; margin: 0; color:#333333; text-transform: none; display: block;  appearance: none; -moz-appearance: none; -webkit-appearance: none; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; background:url(.../images/workbench/pipeline/select_arrow.svg) no-repeat calc(100% - 0.8rem) 52%/14px auto;}
select::-ms-expand{display:none;}
a {color: inherit; text-decoration: none;  cursor:pointer;}

button { background: none; cursor: pointer; line-height: inherit; appearance: none; -moz-appearance: none; -webkit-appearance: none; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0;}
caption {overflow:hidden;width:1px;height:1px;padding:0;margin-top:-1px;font-size:0;line-height:0;text-indent:-9999px; overflow: hidden;}
input[type=number],input[type=submit],input[type=button],input[type=text],input[type=password],input[type=email],textarea,select {-ms-box-sizing:content-box;-moz-box-sizing:content-box;-webkit-box-sizing:content-box; box-sizing:content-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box; box-sizing: border-box; vertical-align:middle; border:1px solid #d6d7dd; border-radius: 5px; font-size:1.6rem; font-family: 'Noto Sans Korean', sans-serif;}
input[type=number]:focus,input[type=text]:focus,input[type=password]:focus {border:1px solid #7F7F7F; background-color: #ffffff; }
input[type=submit],input[type=button] {cursor: pointer;}
:before, :after {content:''; display: none;}
input[type="checkbox"], input[type="radio"] {vertical-align:middle; width:2.0rem; height:2.0rem; margin:0; opacity:.3;-webkit-appearance:auto;}
input[type="checkbox"]:checked, input[type="radio"]:checked {opacity:1; accent-color: #000000;}
p {word-wrap: break-word; word-break: keep-all;}
address, em, i {font-style: normal;}

.bold {font-weight: bold;}

.Hidden, .blind {position:absolute !important; width:1px; height:1px; margin:0; padding:0; background:none; font-size:0; color:transparent; line-height:0; left:-9999px; top:-9999px; overflow:hidden;}
.Dis_none {display:none; position:absolute; width:1px; height:1px; margin:0; padding:0; background:none; font-size:0px; color:transparent; line-height:0; left:-9999px; top:-9999px; overflow:hidden;}
.Dis_block {display:block !important;}

/*user style*/
#intro{width: 100%; overflow: hidden; position: relative; min-height: 100vh; padding: 48px 0; /* background: #ffffff url('../images/workbench/intro_bg.png') no-repeat center/cover; */ background:#ffffff;}
.intro_bg{display: block; width: 100%; height: 100vh; position: absolute; top: 0; right: -100%; z-index: 1; background: #ffffff;}

#intro-wrap {width:1240px; margin:0 auto; background-size: cover; position: relative; z-index: 2;}
.intro-inner {padding:0 50px;}
.section-01 {margin-bottom:3.0rem}
.section-01 > h1 {font-size:3.8rem; font-weight: bold; margin:0 0 1.2rem 0;}
.section-01 > h1::after {content: ''; display: inline-block;background: url('../images/workbench/title_icon.png') no-repeat top center;background-size: cover; width:38px; height:38px; vertical-align: top;}
.section-01 > p {font-size:1.6rem; line-height: 1.4; color:#555555}

.section-02 {display: flex; justify-content: space-between; opacity: 1;}

.card-item { position:relative; padding-bottom: 53px; background: #ffffff; cursor: pointer; width:49%; border-radius: 8px 8px 0 0;box-shadow: 8px 8px 16px 0 rgba(86, 102, 126, 0.1);}
.card-item .img-box {overflow: hidden;border-radius: 8px 8px 0 0; }
.card-item .img-box::before {content: ''; display: block; height: 210px; width:100%;}
.card-img01 .img-box::before {background: url(../images/workbench/card_img_01.png) no-repeat top center;background-size: cover;}
.card-img02 .img-box::before {background: url(../images/workbench/card_img_02_n.png) no-repeat top center;background-size: cover;}
.card-img03 .img-box::before {background: url(../images/workbench/card_img_03.png) no-repeat top center;background-size: cover;}
.card-img04 .img-box::before {background: url(../images/workbench/card_img_04_n.png) no-repeat top center;background-size: cover;}

.card-item:hover .img-box::before {transition: all 0.3s; transform: scale(1.1);}
.card-item:hover {transition:all 0.2s ease; box-shadow: 8px 8px 16px 0 rgba(86, 102, 126, 0.25); transform: translate(0, -8px); animation-play-state: paused;}
/* .card-item:hover::after {content: ''; display: block; width: 100%; height:10px; background:transparent;} */

.card-cont {width: calc(100%);margin:0 auto;padding: 25px 25px 0 25px;background: #ffffff;}
.card-cont > dl { margin-bottom:26px;}
.card-cont > dl > dt {font-weight: bold; font-size:1.8rem; margin: 0 0 1.2rem 0; display: flex;justify-content: flex-start; align-items: center;}
.card-cont > dl > dt.bx_tit::before {content: ''; display: block; height:16px; margin-right:8px; background: url(../images/workbench/bx_logo.svg) no-repeat center center;background-size: contain; width:30px;}
.card-cont > dl > dt.closha_tit::before {content: ''; display: block; height:16px; margin-right:8px; background: url(../images/workbench/closha_logo.svg) no-repeat center center;background-size: contain; width:18px;}
.card-cont > dl > dt.gbox_tit::before {content: ''; display: block; height:16px; margin-right:8px; background: url(../images/workbench/gbox_logo.svg) no-repeat center center;background-size: contain; width:18px;}
.card-cont > dl > dt.tuto_tit::before {content: ''; display: block; height:18px; margin-right:6px; background: url(../images/workbench/tutorial_icon.svg) no-repeat center top;background-size: contain; width:16px;}

.card-cont > dl > dd {font-size:1.3rem; line-height: 1.6; color:#676767;letter-spacing: -0.2px; display: -webkit-box; word-wrap: break-word; -webkit-line-clamp: 4; -webkit-box-orient: vertical; overflow: hidden;  text-overflow:ellipsis;-o-text-overow: ellipsis; text-overflow:ellipsis;}

.manual_down {width:calc(100% - 50px); margin:0 auto; border-top: 1px dashed #dddddd; position:absolute; bottom:5px;}
.manual_down a {font-size:1.3rem; padding:1.6rem 0.2rem; display: flex; justify-content: space-between; align-items: center; color:#333333; font-weight:500; letter-spacing: -0.3px;}
.manual_down a::after {content: ''; display:block; background: url(../images/workbench/icon_down.svg) no-repeat center right;background-size: contain; width:16px; height:16px;}
.manual_down a:hover {color:#222222;  /*  font-weight:600; text-decoration: underline; */}
.manual_down a:hover::after {background: url(../images/workbench/icon_down_black.svg) no-repeat center right;background-size: contain; width:16px; height:16px; transition: all ease 0.3s 0s;}

.manual_down a > span {position: relative; z-index:0}
.manual_down a span::after {content: ''; display: block; position:absolute; bottom:-3px; left:0; z-index:-1; background-color: #fffbd1; height: 10px; width: 0; transition: all linear 0.15s;}
.manual_down a:hover span::after {width: 100%;}
 

.tooltip-text {display: none; position: absolute; max-width: calc(100% - 40px);border: 1px solid #b1a59d; border-radius:4px;  padding: 10px 12px; font-size: 11px; color: #222222; background: #fbfcc5; z-index: 11; bottom:103px; left: 20px; line-height: 1.4;}
.tooltip-title {display: block; font-weight: bold; font-size:12px;margin:0 0 2px 0;}
/* .tooltip:hover .tooltip-text { display: block;} */
.tooltip .tooltip-text::after {content: '';display: block;width: 0;height: 0;border-bottom: 8px solid transparent;border-top: 8px solid #fbfcc5;border-left: 8px solid transparent;border-right: 8px solid transparent;position:absolute;left: calc(50% - 8px);bottom: -15px;}
.tooltip .tooltip-text::before {content: '';display: block;width: 0;height: 0;border-bottom: 8px solid transparent;border-top: 8px solid #b1a59d;border-left: 8px solid transparent;border-right: 8px solid transparent;position:absolute;left: calc(50% - 8px);bottom: -16px;}


@media screen and (max-width:1239px){
    #intro-wrap {width:100%; margin:0 auto;}
}

@media screen and (max-width:1023px){
    .card-cont {padding: 25px 20px 0 22px;}
    .card-item::before {height: 140px;}
}

@media screen and (max-width:979px){
    .section-02 {flex-wrap: wrap;}    
    .card-cont {padding: 30px 25px 0 25px;}
    .section-02 > div { width:48.5%; margin:0 0 24px 0;}
    .card-item .img-box::before {height: 210px;}
    .card-img01 .img-box::before {background: url(../images/workbench/card_img_01.png) no-repeat center center;background-size: cover;}
    .card-img02 .img-box::before {background: url(../images/workbench/card_img_02.png) no-repeat center center;background-size: cover;}
    .card-img03 .img-box::before {background: url(../images/workbench/card_img_03.png) no-repeat center center;background-size: cover;}
    .card-img04 .img-box::before {background: url(../images/workbench/card_img_04.png) no-repeat center center;background-size: cover;}    
}

@media screen and (max-width:739px){
    .section-02 > div { width:48%; margin:0 0 24px 0;}
    .card-item::before {height: 160px;}
}

@media screen and (max-width:639px){  
    .section-01 > h1 {font-size: 3.2rem;} 
    .section-01 > h1::after { width:32px; height:32px;}
    .section-02 > div { margin:0 0 20px 0;}
    .card-cont {padding: 25px 25px 0 25px;} 
    .card-item .img-box::before {height: 140px;}
}
@media screen and (max-width:539px){      
    .section-01 > h1 {font-size: 2.8rem;} 
    .section-02 > div { width:80%; margin:0 auto 24px auto;}
    .card-item .img-box::before {height: 190px;}
    
    .card-cont > dl > dd { display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: initial; overflow: initial;  }

}

@media screen and (max-width:459px){   
    .intro-inner {padding:0 36px;}    
    .section-02 > div { width:100%;}
}

@media screen and (max-width:359px){  
    #intro {overflow: none; width:349px;} 
    #intro-wrap {width:100%;}  
    .card-item .img-box::before {height: 160px;}
}
