<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link media="all" rel="stylesheet" href="../../../css/font.css">  
    <link media="all" rel="stylesheet" href="../../../css/common.css">  
    <link media="all" rel="stylesheet" href="../../../css/board.css"> 
    <link media="all" rel="stylesheet" href="../../../css/admin.css"> 
    <link media="all" rel="stylesheet" href="../../../css/popup.css"> 
    <link media="all" rel="stylesheet" href="../../../css/datepicker/datepicker.min.css"> 
    <script src="../../../js/jquery-3.7.0.min.js"></script>
    <script src="../../../js/datepicker/datepicker.min.js"></script>
    <script src="../../../js/datepicker/datepicker.ko-KR.js"></script>
    <script src="../../../js/contents/templates/adminsso/new-contents.js"></script>
    <title>확인메세지</title>
</head>
<body>

    <!-- 버튼 별 메세지 변경 함수 적용 -->
    <!-- 
    <input type="button" class="popup-button" data-target="#confirMation" onclick="setMessage('type01')" value="회원탈퇴">
    <input type="button" class="popup-button" data-target="#confirMation" onclick="setMessage('type02')" value="그룹원탈퇴">
    <input type="button" class="popup-button" data-target="#confirMation" onclick="setMessage('type03')" value="그룹해제"> 
    <input type="button" class="popup-button" data-target="#confirMation" onclick="setMessage('type04')" value="요청승인"> 
    <input type="button" class="popup-button" data-target="#confirMation" onclick="setMessage('type05')" value="요청보류"> 
    -->

        <!-- 확인메세지 팝업 시작 -->
        <div id="confirMation" class="popup-panel is-active">
            <div class="popup-bg"></div>
            <div class="popup-content popup-content-confirMation">
                <p class="popup-message">회원을 강제 탈퇴 하시겠습니까?</p>
                <!-- 
                <p class="popup-message">그룹원을 탈퇴 하시겠습니까?</p>
                <p class="popup-message">그룹을 해제 하시겠습니까?</p> 
                <p class="popup-message">요청을 승인 하시겠습니까?</p> 
                <p class="popup-message">요청을 보류 하시겠습니까?</p> 
                -->
                <div class="popup-body flex-col">

                </div>
                <div class="brd-btn-area center">
                    <div class="btn-list">
                        <input type="button" value="예" class="btn btn-blue">
                        <input type="button" value="아니요" class="btn btn-gray close-button">
                    </div>
                </div>
            </div>
        </div>
        <!-- 확인메세지 팝업 끝 -->


</body>
</html>