<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link media="all" rel="stylesheet" href="../../../css/font.css">  
    <link media="all" rel="stylesheet" href="../../../css/common.css">  
    <link media="all" rel="stylesheet" href="../../../css/board.css"> 
    <link media="all" rel="stylesheet" href="../../../css/admin.css"> 
    <link media="all" rel="stylesheet" href="../../../css/popup.css"> 
    <link media="all" rel="stylesheet" href="../../../css/datepicker/datepicker.min.css"> 
    <script src="../../../js/jquery-3.7.0.min.js"></script>
    <script src="../../../js/datepicker/datepicker.min.js"></script>
    <script src="../../../js/datepicker/datepicker.ko-KR.js"></script>
    <script src="../../../js/contents/templates/adminsso/new-contents.js"></script>
    <title>등급 수정 팝업</title>
</head>
<body>
    

        <!-- 등급 수정 팝업 시작 -->
        <div id="gradeModify" class="popup-panel is-active">
            <div class="popup-bg"></div>
            <div class="popup-content popup-content-gradeModify">
                <div class="popup-header">
                    <h2>등급 수정</h2>
                    <a class="close-button" href="#none"></a>
                </div>
                <div class="popup-body flex-col">
                    <!-- 등급정보 테이블:s -->
                    <form class="popup-form">
                        <fieldset>
                            <div class="formset">
                                <p>구분</p>
                                <span class="formvalue">회원</span>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="formset">
                                <p>등급코드</p>
                                <span class="formvalue">GM19</span>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="formset">
                                <p>등급명</p>
                                <label for="gdName"></label>
                                <input type="text" id="gdName" value="">
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="formset">
                                <p>설명</p>
                                <label for="gdInfo"></label>
                                <textarea type="text" id="gdInfo" value="등급에 대한 설명입니다."></textarea>
                            </div>
                        </fieldset>
                    </form>
                    <!-- 등급정보 테이블:e -->
                </div>
                <div class="brd-btn-area center">
                    <div class="btn-list">
                        <input type="button" value="수정하기" class="btn btn-blue">
                    </div>
                </div>
            </div>
        </div>
        <!-- 등급 수정 팝업 끝 -->


</body>
</html>