<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link media="all" rel="stylesheet" href="../../../css/font.css">  
    <link media="all" rel="stylesheet" href="../../../css/common.css">  
    <link media="all" rel="stylesheet" href="../../../css/board.css"> 
    <link media="all" rel="stylesheet" href="../../../css/admin.css"> 
    <link media="all" rel="stylesheet" href="../../../css/popup.css"> 
    <link media="all" rel="stylesheet" href="../../../css/datepicker/datepicker.min.css"> 
    <script src="../../../js/jquery-3.7.0.min.js"></script>
    <script src="../../../js/datepicker/datepicker.min.js"></script>
    <script src="../../../js/datepicker/datepicker.ko-KR.js"></script>
    <script src="../../../js/contents/templates/adminsso/new-contents.js"></script>
    <title>관리자 그룹 등급 변경 팝업</title>
</head>
<body>

        <!-- 그룹등급변경 팝업 시작 -->
        <div id="groupGrade" class="popup-panel is-active">
            <div class="popup-bg"></div>
            <div class="popup-content popup-content-groupGrade">
                <div class="popup-header">
                    <h2>그룹 등급 변경</h2>
                    <a class="close-button" href="#none"></a>
                </div>
                <div class="popup-body flex-col">
                    <!-- 그룹정보 테이블:s -->
                    <form class="popup-form">
                        <fieldset>
                            <div class="formset">
                                <p>현재 등급</p>
                                <span class="formvalue">그룹 2등급</span>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="formset">
                                <p>변경 등급</p>
                                <label for="uNation"></label>
                                <select name="newGrade" id="newGrade">
                                    <option value="GM01">그룹 1등급</option>
                                    <option value="GM02">그룹 2등급</option>				
                                </select>
                            </div>
                        </fieldset>
                    </form>
                    <!-- 그룹정보 테이블:e -->
                </div>
                <div class="brd-btn-area center">
                    <div class="btn-list">
                        <input type="button" value="수정" class="btn btn-blue">
                    </div>
                </div>
            </div>
        </div>
        <!-- 그룹등급변경 팝업 끝 -->


</body>
</html>